* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-back: #181818;
  --color-font: white;
}

body {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.324),
      rgba(18, 18, 18, 0.8)
    ),
    url(https://source.unsplash.com/random/?minimalism);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.Black_field {
  background-color: #181818;
  opacity: 0.9;
  color: var(--color-font);
  padding: 4rem 2rem 4rem 2rem;
  border-radius: 0.1rem;
  min-height: 250px;
  outline: 0.1rem solid #181818;
  outline-offset: 0.2rem;
}

.Form {
  display: flex;
  justify-content: space-between;
}

input {
  background-color: var(--color-back);
  border-radius: 0.1rem;
  border: 0.1rem solid var(--color-font);
  color: var(--color-font);
  padding-left: 1em;
}

button {
  position: relative;
  background-color: var(--color-back);
  border-radius: 0.1rem;
  border: 0.1rem solid var(--color-font);
  color: white;
  padding: 0.8em 1.6em;
  margin-left: 8px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

button:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0.1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 0.1rem;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

button:active {
  top: 1px;
}

.task {
  padding: 4% 0% 4% 0%;
  color: var(--color-font);
  font-size: 1em;
  display: flex;
  align-items: center;
}

.task i {
  cursor: pointer;
  font-size: 1.5em;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.task i:hover {
  color: #7f7f7f;
  transition-duration: 0.1s;
}

.task i:after {
  transition: all 0.5s;
}

.task i:active::after {
  transition: 0s;
}

#exampleTask,
.newTask {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  padding: 5% 0% 5% 0%;
  font-size: 0.9em;
  border-bottom: 0.1rem solid var(--color-font);
}

.inputfield:focus {
  transition: all 0.3s;
  outline: 0.1rem solid #f2cf1d;
}

.inputfield:focus {
  transition: all 0.3s;
  outline: 0.1rem solid #f2cf1d;
}

.taskchecked {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  padding: 4% 0% 4% 0%;
  color: var(--color-font);
  /* border-bottom: 1px solid var(--color-font); */
  font-size: 0.9em;
  opacity: 0.3;
}
